{% extends "bookcatalog/layout.html" %}


{% block body %}
<div class="container">
  <div class="jumbotron">
  	<div class="book-info">
  		<div class="row">
  			<div class="col-md-4 col-lg-3 text-center">
  				<img src="http://covers.openlibrary.org/b/isbn/{{  book.isbn  }}-M.jpg" 
  				onload=default_img(this) alt="...">
  			</div>
  			<div class="col-md-8 col-lg-9">
				<h1><i class="fas fa-book-open"></i> {{  book.title }}</h1>
				<h4 class="text-secondary">by <span><a href="{% url 'search' %}?q={{ book.author }}" class="text-secondary font-italic">{{  book.author  }}</a></span>, {{  book.year  }}</h4>		    
				<a href="#apibookisbn" class="text-muted">ISBN: {{  book.isbn  }}</a>
					    
  				<div class="both-ratings pt-3">
						<!-- goodreads stat ratings -->
					<span class="d-inline-block">5.5 <i class="fas fa-star"></i>
					<a href="https://www.goodreads.com/search?q={{  book.isbn  }}" target="_blank" class="text-dark">
						<small>(<i class="fab fa-goodreads"></i> good<b>reads</b>)</small></a> 
					35897 reviews</span>
					<span class="border border-dark border-0 border-right"> | </span>
						<!-- bookworm stat ratings -->
					<span class="d-inline-block">{{ bwstat.avg }} <i class="fas fa-star"></i>
					<a href="/api/{{  book.isbn  }}" target="_blank" class="text-dark">
						<small>(<i class="fas fa-bug"></i> book<b>worm</b>)</small></a> 
					{{ bwstat.count }} reviews</span>
				</div>
				
  					
				  

					<form action="{% url 'book' book.isbn %}" method="post">
						{% csrf_token %}
						<div class="star-rating" data-toggle="modal" data-target="#exampleModal">
							{% for i in rrange %}
								<input id="star-{{ i }}" type="radio" name="rating" value="{{ i }}" {% if i == userrev.rating %}checked{% endif %}/>
								<label for="star-{{ i }}" title="{{ i }} stars">
									<i class="active fa fa-star" aria-hidden="true"></i>
								</label>
							{% endfor %}
						</div>
						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Review</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										{% if not user.is_authenticated %}
											<h3 class="text-center pb-3"><a href="{% url 'register' %}">Register</a> to leave a review!</h3>
										{% endif %}
										<!-- comment text area -->
										<div class="form-group">
											<textarea {% if not user.is_authenticated %} disabled {% endif %} class="form-control" name="comment" id="message-text" placeholder="Leave a review!"></textarea>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
										<button {% if not user.is_authenticated %} disabled {% endif %} type="submit" class="btn btn-primary">Post</button>
									</div>
								</div>
							</div>
						</div>

					</form>
					
  			</div>
  		</div>
  	</div>

  </div> <!-- jumbotron end -->




	<!-- User reviews and comments -->

	<div class="dropdown-divider"></div>
	<div id="userReviews" class="pb-3">
		{% for review in reviews reversed %}
		<div class="card my-1">
			<div class="card-header pb-1 pt-2">
				<div class="row justify-content-between">
					<div class="col text-left"><a href="{% url 'user' review.user.username %}">{{  review.user.username  }}</a></div>
					<div class="col text-right">
						{% for i in "12345" %}
							{% if forloop.counter <= review.rating %}
								<i class="fas fa-star" style="color: orange;"></i>
							{% else %}
								<i class="fas fa-star"></i>
							{% endif %}
						{% endfor %}						
					</div>
					<!-- <div class="col text-right">Date: 2020</div> -->
				</div>
			</div>
			<div class="card-body pb-1 pt-2">
				<div class="row">
					{{  review.comment  }}
				</div>
				<div class="row">
					<div class="col pl-0 text-left text-muted">
						{{ review.time }}
					</div>
					<div class="col text-right">
						<form action="{% url 'likeReview' %}" method="post">
							{% csrf_token %}
        					<input type="hidden" name="review_id" value="{{ review.id }}">
							<button type="submit" 
							class="btn {% if user in review.likers.all %}btn-primary{% else %} btn-outline-primary {% endif %} btn-sm">Like</button> 
							{% if review.serialize.numlikes %}
								{{ review.serialize.numlikes }}
							{% endif %}
						</form>
					</div>
				</div> 
			</div>
		</div>
		{% endfor%}
	</div>


</div> <!-- container -->

{% endblock %}