{% extends "bookcatalog/layout.html" %}

{% block body %}
    <div class="container">
      <div class="row mt-5">

        <div class="col-lg-7 mx-auto">
        <div class="card text-center">
          <div class="card-header">
            <h3>Log in or <a href="{% url 'register' %}">create an account</a></h3>
          </div>

          <div class="card-body">
            {% if message %}
              <div>{{ message }}</div>
            {% endif %}
            <form action="{% url 'login' %}" method="post">
              {% csrf_token %}
              <div class="form-group mt-4">
                <input name="username" autocomplete="off" autofocus class="form-control" placeholder="Username" type="text" 
                {% if username %}value={{ username }}{% endif %}>
              </div>
              <div class="form-group">
                <input name="password" autocomplete="off" class="form-control" placeholder="Password" type="password"
                {% if password %}value={{ password }}{% endif %}>
              </div>
              <button class="btn btn-primary btn-block" type=submit>Log in</button>
            </form>
          </div>

        </div>
        </div>

      </div>
    </div>
{% endblock %}